spring.application.name=trading-platform
server.port=${<SERVER_PORT>:<PORT>}

spring.datasource.url=${SPRING_DATASOURCE_URL:<POSTGRES_URL>}
spring.datasource.username=${SPRING_DATASOURCE_USERNAME:<USERNAME>}
spring.datasource.password=${SPRING_DATASOURCE_PASSWORD:<PASSWORD>}
spring.datasource.driver-class-name=org.postgresql.Driver

spring.sql.init.mode=${SPRING_SQL_INIT_MODE:never}
spring.sql.init.schema-locations=<SCHEMA_LOCATION>

mybatis.type-aliases-package=<ENTITY_PACKAGE>
mybatis.configuration.map-underscore-to-camel-case=true

market.data.base-url=${MARKET_DATA_BASE_URL:<MARKET_API_URL>}
market.data.api-key=${MARKET_DATA_API_KEY:<MARKET_API_KEY>}

spring.kafka.bootstrap-servers=${KAFKA_BOOTSTRAP_SERVERS:<BOOTSTRAP_SERVER_URL>}
spring.kafka.consumer.auto-offset-reset=earliest
spring.kafka.consumer.group-id=<KAFKA_GROUP_ID>
spring.kafka.listener.auto-startup=${KAFKA_LISTENER_AUTO_STARTUP:true}
spring.kafka.listener.missing-topics-fatal=false
spring.kafka.template.default-topic=${TRADE_RECORDED_TOPIC:trade.recorded}

trade.validated=${TRADE_VALIDATED_TOPIC:trade.validated}
trade.recorded=${TRADE_RECORDED_TOPIC:trade.recorded}
trade.finished=${TRADE_FINISHED_TOPIC:trade.finished}

management.endpoints.web.exposure.include=health,info
management.health.kafka.enabled=false